gradio>=5
python-dotenv

langchain>=0.2
langchain-community>=0.2
langchain-huggingface>=0.1

huggingface_hub>=0.23
transformers>=4.40
accelerate
torch
wikipedia
ddgs
arxiv

yfinance
pandas
matplotlib

requests
beautifulsoup4
lxml
